.window-main
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.window
{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
}

.name
{
    left: 70px;
    margin-left: 5px;
}

.name_system
{
    margin: 0;
    text-align: left;
    font-size: 28px;
    color: #ffffff;
}

.circle
{
    margin: 2px 20px 0 25px;
    border-radius: 50px;
    width: 65px;
    height: 65px;
}

.links {
    margin-inline: auto;
    margin-top: 10px;
    color: lightcyan;
    font-family: Georgia, serif;
    font-size:30px;
    font-style: italic;
}

.flex
{
    display: flex;
    
}

.ph_but {
    display: flex;
}

.place {
    width: 99vw;
    height: 89vh;
    margin-left: 7px;
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    font-family: Century;
    padding: 20px;
    background-color: lightcyan;
}
.name_doctor {
    margin: 30px;
    font-size: 36px;
}

.position
{
    margin: 0;
    color: white;
}


.photo {
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

.photo img {
    width: 188px;
    height: 250px;
    margin-left: 80px;
    object-fit: cover;
}

.information {
    flex-grow: 1;
    padding-left: 340px;
    padding-top: 50px;
    text-align: left;
}

.information h2 {
    font-size: 32px;
}

.information h3 {
    font-size: 28px;
    margin-top: 5px;
}

#inf {
    text-decoration: underline;
}

.button_place {
    margin-top: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    padding-top: 50px;
}

.button_menu {
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
    font-size: 30px;
    background-color: PaleTurquoise;
    color: darkcyan;
    border-radius: 15px;
    border: 0;
}

