

.window-main
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.window
{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #13D8E4;
    width: 100vw;
    height: 70px;

}

.name
{
    left: 70px;
    margin-left: 5px;
}

.name_system
{
    margin: 0;
    text-align: left;
    font-size: 28px;
    color: #ffffff;
}

.circle {
    margin: 2px 20px 0 25px;
    border-radius: 50px;
    width: 65px;
    height: 65px;
}

.flex
{
    display: flex;
}


.work_place
{
    margin-top: 70px;
    display: flex; 
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    background-color: darkcyan;
}

.login_place {
    margin-top: 130px;
    background-color: lightcyan;
    width: 450px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
}

.log_in
{
    color: white;
    margin-top: 10px;
}

.write_place
{
    margin: 15px;
    margin-top: 20px;
    text-align: left;

}

.inputs {
    margin: 10px;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    background-color: lightblue;
    color: black;
    font-family: Consolas;
    font-size: 20px;
}

.link-password
{
    float: right;
    margin-right: 10px;
    color: darkslategray;
    text-decoration: underline;
    margin-top: 20px;
}

.link-signup 
{
    margin-top: 15px;
    color: darkslategray;
    text-decoration: underline;
    margin-left: 155px;
    font-size: 30px;
}


.log_pass {
    margin: 15px;
    margin-top: 30px;
    color: black;
    font-weight: 500;
    font-size: 32px;
}

.send
{
    border-radius: 15px;
    background-color: darkslategray;
    width: 300px;
    height: 60px;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, sans-serif;
    color:lightcyan;
    text-align: center;
    margin-top: 90px;
    margin-left: 60px;
}

@media (max-width: 768px) {
    .window {
        height: 120px; /* ������� ������ ������� ������� ��� ��������� ������� */
    }

    .name {
        left: 0;
        margin-left: 10px;
    }

    .circle {
        margin-left: 10px;
    }

    .work_place {
        margin-top: 120px;
    }

    .login_place {
        width: 90%;
        max-width: 400px;
        height: auto;
        margin-top: 20px;
    }

    .inputs {
        width: 100%;
    }

    .send {
        width: 100%;
    }

    .link-signup {
        margin-left: 0;
    }
}

